---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div id="container">
      <slot />
    </div>
    <style is:global>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');
      :root {
        /* --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #da62c4 30%,
          white 60%
        ); */
        --font-size-md: 1.2em;
        --color-accent: #da62c4;
      }

      html {
        font-family: 'Noto Sans KR', system-ui, sans-serif;
        background-color: #f6f6f6;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
      #container {
        max-width: 800px;
        margin: auto;
        padding-bottom: 50px;
      }
      .separate {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .hint {
        color: 'gray';
      }
      .job-title {
        font-weight: bold;
      }
      h1 {
        color: var(--color-accent);
      }
      a {
        color: var(--color-accent);
        text-decoration: none;
      }
      a::before {
        display: inline-block;
        content: '';
        width: 14px;
        height: 14px;
        background-image: url('/images/icon-external-link.svg');
        background-size: contain;
        background-repeat: no-repeat;
        /* color: var(--color-accent); */
      }
      li::marker {
        content: '-  ';
      }
      ul.tags {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        /* margin-block-start: 0;
        margin-block-end: 0; */
        padding-inline-start: 0;
      }
      ul.tags li {
        display: inline-block;
        list-style-type: none;
      }
      .tag-item {
        margin-right: 20px;
      }
      .tags a::before {
        display: none;
      }
      @media (max-width: 799px) {
        #container {
          padding-left: 20px;
          padding-right: 20px;
        }
        #container img {
          max-width: 100%;
        }
      }
    </style>
  </body>
</html>
